<?xml version="1.0" encoding="UTF-8"?>
<configdata>
	<dev>
		<webhost>localhost</webhost>
		<database>
			<adapter>pdo_mysql</adapter>
			<params>
				<host>localhost</host>
				<dbname>projet_zend_dev</dbname>
				<user>root</user>
				<password>root</password>
			</params>
		</database>
	</dev>
	<recette>
		<webhost>localhost</webhost>
		<database>
			<adapter>pdo_mysql</adapter>
			<params>
				<host>localhost</host>
				<dbname>projet_zend_recette</dbname>
				<user>root</user>
				<password>root</password>
			</params>
		</database>
	</recette>
	<production>
		<webhost>localhost</webhost>
		<database>
			<adapter>pdo_mysql</adapter>
			<params>
				<host>localhost</host>
				<dbname>projet_zend</dbname>
				<user>root</user>
				<password>root</password>
			</params>
		</database>
	</production>
</configdata>
